:root {
  --common-width: 1100px;
  --common-margin: 0 auto;

  --footer-height: 10rem;

  --red-color-1: #ff3232;

  --blue-sky-color-1: #28aeff;
  --blue-sky-color-2: #288cff;
  --blue-sky-color-3: #0ac9ff;

  --white-color-1: #ffffff;
  --white-color-2: #f0efef;

  --black-color-1: #000000;
  --black-color-2: #2f3438;

  --gray-color-1: #c8c8c8;
  --gray-color-2: #dcdcdc;
  --gray-color-3: #b4b4b4;

  --loading-backgroun-color: rgba(252, 252, 252, 0.5);
}

.writePostTextArea {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--gray-color-1);
  border-radius: 0.2rem;
  outline: none;
  font-size: 1rem;
}
